.header{
    background-color:#EBD05F;
    padding:60px;
    color:#384E55;
    font-family: "Montserrat", sans-serif;
    text-align:center;
    font-size:30px;
    

}

body {
    background-image:url(https://scontent-atl3-1.cdninstagram.com/v/t51.2885-19/s150x150/95363510_245688450103972_6798304072693710848_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_ohc=J4AyWaM7FH4AX9atk8Q&oh=cf6e0c930d2b38cb4fa34c8f173810c0&oe=5EEB7EAE) ;
    width:100%;
}





